    /// <summary>
    /// {{^description}}Defines {{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
    /// </summary>
    {{#description}}
    /// <value>{{description}}</value>
    {{/description}}
    {{#vendorExtensions.x-enum-string}}
    [JsonConverter(typeof(StringEnumConverter))]
    {{/vendorExtensions.x-enum-string}}
    {{>visibility}} enum {{#datatypeWithEnum}}{{.}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}{{#vendorExtensions.x-enum-byte}}: byte{{/vendorExtensions.x-enum-byte}}
    {
        {{#allowableValues}}{{#enumVars}}
        /// <summary>
        /// Enum {{name}} for value: {{{value}}}
        /// </summary>
        {{#vendorExtensions.x-enum-string}}[EnumMember(Value = {{{value}}})]{{/vendorExtensions.x-enum-string}}
        {{name}}{{^vendorExtensions.x-enum-string}} = {{{value}}}{{/vendorExtensions.x-enum-string}}{{#vendorExtensions.x-enum-string}} = {{@index}}{{/vendorExtensions.x-enum-string}}{{^@last}},
        {{/@last}}{{/enumVars}}{{/allowableValues}}
    }{{! NOTE: This model's enumVars is modified to look like CodegenProperty}}
